<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a
      class="nav-link active"
      data-bs-toggle="tab"
      aria-current="page"
      href="login/#login"
      >Login</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="login/#registro">Registro</a>
  </li>
</ul>
<div class="tab-content">
  <div id="login" class="tab-pane fade show active" role="tabpanel">
    <section id="login">
      <div id="container">
        <div id="row">
          <div class="col-md-6 mx-auto">
            <div class="card">
              <div class="card-header">
                <h4>Login</h4>
              </div>
              <div class="card-body">
                <form [formGroup]="myFormLogin" (ngSubmit)="submit()">
                  <div class="form-group">
                    <label for="email" class="form-label">Usuario</label>
                    <input
                      formControlName="usuario"
                      [class.is-invalid]="f.usuario.errors && f.usuario.touched"
                      type="text"
                      name="usuario"
                      id="usuario"
                      class="form-control"
                      placeholder="Usuario"
                      required
                    />
                    <div
                      id="validationServerUsernameFeedback"
                      class="invalid-feedback"
                    >
                      Usuario Obligatorio
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password" class="form-label">Contraseña</label>
                    <input
                      formControlName="password"
                      [class.is-invalid]="
                        f.password.errors && f.password.touched
                      "
                      type="password"
                      name="password"
                      id="password"
                      class="form-control"
                      placeholder="Password"
                      required
                    />
                    <div
                      id="validationServerUsernameFeedback"
                      class="invalid-feedback"
                    >
                      Contraseña Obligatoria
                    </div>
                  </div>
                  <div class="d-grid gap-2 mt-2">
                    <input
                      type="submit"
                      value="Login"
                      class="btn btn-primary btn-block"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="registro" class="tab-pane fade active" role="tabpanel">
    <section id="registro">
      <div id="container">
        <div id="row">
          <div class="col-md-6 mx-auto">

            <div class="card">
              <div class="card-header">
                <h4>Registro</h4>
              </div>
              <div class="card-body">
                <form [formGroup]="myFormRegistro" (ngSubmit)="registrar()">
                  <div class="form-group">
                    <label for="email" class="form-label">Usuario</label>
                    <input
                      formControlName="usuario"
                      [class.is-invalid]="f2.usuario.errors && f2.usuario.touched"
                      type="text"
                      name="usuario"
                      class="form-control"
                      placeholder="Usuario"
                      required
                    />
                    <div
                      id="validationServerUsernameFeedback"
                      class="invalid-feedback"
                    >
                      Usuario Obligatorio
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password" class="form-label">Contraseña</label>
                    <input
                      formControlName="password"
                      [class.is-invalid]="
                        f2.password.errors && f2.password.touched
                      "
                      type="password"
                      name="password"
                      class="form-control"
                      placeholder="Password"
                      required
                    />
                    <div
                      id="validationServerUsernameFeedback"
                      class="invalid-feedback"
                    >
                      Contraseña Obligatoria
                    </div>
                  </div>
                  <div class="d-grid gap-2 mt-2">
                    <input
                      type="submit"
                      value="Registrarse"
                      class="btn btn-primary btn-block"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
